.faxa {
    background-color: blue;
}

@media (max-width: 576px) {
    .fakeimg {
        height: auto;
        margin-bottom: 1rem;
    }

    .fakeimg img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .col-sm-8 .fakeimg img[src="assets/img/ps25.png"] {
        width: 90%;
    }

    .col-sm-8 p {
        margin-top: 1rem;
    }
}
